@model IEnumerable<InventoryApplication.Areas.Admin.Models.BranchModel>

@{
    ViewData["Title"] = "GetAllEmpDetails";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

            <div id="toastr-demo" class="panel">

                <p style="text-align:center">
                    @Html.ActionLink("Add New Employee", "AddEmployee")
                </p>

                <table class="table">
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Mobile)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        @Html.HiddenFor(model => item.Id)
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Mobile)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "EditEmpDetails", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "DeleteEmp", new { id = item.Id }, new { onclick = "return confirm('Are sure wants to delete?');" })
                            </td>
                        </tr>

                    }

                </table>
                </div>
            </div>
        </div>
    </div>

